
#
# GENERAL INFO
#

openapi: 3.0.0
info:
  title: Hair Salon API
  version: 1.0.0
  contact:
    name: "Irdin Ibisevic"
    email: "irdin.ibisevic@gmail.com"

    #
    # PATHS
    #

paths:
  #------------------------------------------------------------------
  # Hairsalon
  #------------------------------------------------------------------
  /hairsalons:
    #------------------------------------------------------------------
    #
    #------------------------------------------------------------------
    post:
      summary: Create a new hair salon
      operationId: saveHairsalon
      requestBody:
        description: Hair Salon data to be added
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HairsalonInDTO'
      responses:
        '201':
          description: Hair salon created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HairsalonOutDTO'
    #------------------------------------------------------------------
    #
    #------------------------------------------------------------------
  /hairsalons/autocomplete:
    get:
      summary: Receive possible Hairsalon names for autocomplete on landing page
      operationId: autocompleteHairsalonName
      parameters:
        - name: salonNameToComplete
          in: query
          description: name of hairsalon to be resolved
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                description: List of hairsalon names
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error

  #------------------------------------------------------------------
  # Single Hairsalon
  #------------------------------------------------------------------
  /hairsalons/{salonId}:
    get:
      summary: Get a single hair salon by ID
      operationId: getHairsalonById
      parameters:
        - name: salonId
          in: path
          description: ID of the hair salon to retrieve
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HairsalonOutDTO'
        '404':
          description: Hair salon not found
        '500':
          description: Internal Server Error


  /appointments:
    post:
      summary: Create a appointment
      operationId: bookAppointment
      requestBody:
        description: appointment details
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppointmentInDto'
      responses:
        '201':
          description: Appointment booked successfully
          content:
            application/json:
              schema:
                type: string

#------------------------------------------------------------------
#components
#------------------------------------------------------------------
components:
  schemas:
    #------------------------------------------------------------------
    # HairsalonInDTO
    #------------------------------------------------------------------
    HairsalonInDTO:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        phonenumber:
          type: string
      required:
        - name
        - description
        - phonenumber

    #------------------------------------------------------------------
    # HairsalonOutDTO
    #------------------------------------------------------------------
    HairsalonOutDTO:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        description:
          type: string
        street:
          type: string
        plz:
          type: string
        place:
          type: string
        phonenumber:
          type: string
        mail:
          type: string
        daily-opening-hours:
          type: array
          items:
            $ref: '#/components/schemas/daily-opening-hours'
        images:
          type: array
          items:
            $ref: '#/components/schemas/Image'
        services:
          type: array
          items:
            $ref: '#/components/schemas/service'

    #--------------------
    # Image
    #--------------------
    Image:
      type: object
      properties:
        id:
          type: integer
        link:
          type: string
        hairsalon_id:
          type: integer


    #--------------------
    # OpeningHours
    #--------------------
    daily-opening-hours:
      type: object
      properties:
        day:
          type: integer
        open-morning:
          type: string
          format: time
        closing-morning:
          type: string
          format: time
        has-lunch-break:
          type: boolean
        closed:
          type: boolean
        open-afternoon:
          type: string
          format: time
        closing-afternoon:
          type: string
          format: time
        hairsalon_id:
          type: integer

    #--------------------
    # Services
    #--------------------
    service:
      type: object
      properties:
        id:
          type: number
        name:
          type: string
        duration:
          type: string
          format: duration-iso8601
          description: Duration of the service in ISO-8601 format
        price:
          type: number
          format: double
        hairsalon_id:
          type: integer



    #--------------------
    # Appointment
    #--------------------
    AppointmentInDto:
      type: object
      properties:
        firstname:
          type: string
        lastname:
          type: string
        mail:
          type: string
        telephone:
          type: string
        description:
          type: string
        price:
          type: number
          format: double
        date:
          type: string
          format: date
        time:
          type: string
          format: time
        serviceIds:
          type: array
          items:
            type: integer
        hairsalonid:
          type: integer

    AppointmentOutDto:
      type: object
      properties:
        firstname:
          type: string
        lastname:
          type: string
        mail:
          type: string
        telephone:
          type: string
        description:
          type: string
        duration:
          type: string
          format: duration-iso8601
          description: Duration of the appointment in ISO-8601 format
        price:
          type: number
          format: double
        services:
          type: array
          items:
            type: string
        hairsalonid:
          type: integer